@tailwind base;
@tailwind components;
@tailwind utilities;

.puzzle-container {
  @apply flex justify-evenly flex-wrap gap-4 m-4;
}

.puzzle-card {
  @apply flex flex-col items-center justify-center
  bg-gray-200 hover:brightness-90 duration-300
  border border-gray-800 rounded-lg overflow-hidden;
  flex: 1;
}

.puzzle-image {
  @apply m-4 mb-0;
  max-width: 20rem;
  max-height: 20rem;
  image-rendering: pixelated;
}

.puzzle-text {
  @apply text-2xl text-gray-800 m-2;
}
